node_modules
.env
.env.local
.expo
.next
dist
build
coverage
*.apk
*.aab
/apps/customer-app/android/
/apps/customer-app/ios/
/apps/tailor-app/android/
/apps/tailor-app/ios/
/apps/delivery-app/android/
/apps/delivery-app/ios/
generated
apps/tailor-app/modules/incoming-alert/android/build/
apps/tailor-app/modules/incoming-alert/android/.gradle/
apps/delivery-app/modules/incoming-alert/android/build/
apps/delivery-app/modules/incoming-alert/android/.gradle/
