<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name=".IncomingAlertFirebaseReceiver"
      android:exported="true"
      android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter android:priority="999">
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".IncomingAlertActionReceiver"
      android:exported="false" />

    <service
      android:name=".IncomingAlertOverlayService"
      android:exported="false"
      android:foregroundServiceType="specialUse"
      android:stopWithTask="false">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="time_limited_incoming_order_alert_overlay" />
    </service>

    <activity
      android:name=".IncomingAlertActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:launchMode="singleTop"
      android:showWhenLocked="true"
      android:theme="@android:style/Theme.Material.Light.NoActionBar"
      android:turnScreenOn="true" />
  </application>
</manifest>
